@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

html, body{
    font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  background-color: #A3A39C;
}

.nav-text{
    font-size: 1rem;
    font-weight: bolder;
}

.captions{
    color: #fff;
    font-weight: bolder;
}

.card-body-text{
    justify-content: end;
    align-items: flex-end;
}

.fa-circle{
color: blueviolet;
}

.back{
    background-image: url('gog-assets/tile (23).jpg') no-repeat cover cover/center;
}